@{
    ViewData["Title"] = "Contact Us";
}
<h1 class="display-4 text-light rsfont">@ViewData["Title"]</h1>

<p class="rsfont text-light">Have questions? Drop us a line!</p>
<p class="rsfont text-light">
    Jack Perry - <a href="mailto:perry128@mail.nmc.edu">perry128@mail.nmc.edu</a><br />
    Liam Burch - <a href="mailto:burch43@mail.nmc.edu">burch43@mail.nmc.edu</a><br />
    Matt Lewis - <a href="mailto:lewis10@mail.nmc.edu">lewis10@mail.nmc.edu</a>
</p>