@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-3 text-light rsfont">@ViewData["Title"]</h1>

<p class="text-light rsfont">We value your privacy, and promise not to share anything with your enemies.</p>
